# Node
node_modules/
.npm/

# Next.js
.next/
out/
.next-standalone/
.vercel/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
*.swp
*.swo
.DS_Store
.idea/
.vscode/
